.song-item {
  display: flex;
  align-items: center;
  padding: 1em 16px;
  cursor: pointer;
  text-decoration: none;

  .art {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: var(--yt-spec-10-percent-layer);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.placeholder {
      background-size: 65%;
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    }
  }

  .details {
    display: inline-flex;
    flex-direction: column;
    margin-left: 1em;
    color: var(--yt-spec-text-primary);

    .secondary {
      color: var(--yt-spec-text-secondary);
    }
  }

  &.active {
    background-color: var(--yt-spec-10-percent-layer);

    .art {
      outline: 2px solid var(--yt-spec-themed-blue);
    }
  }
}
